<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delegaciones</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body id="app">
    <header>

    </header>
    <main>

        <section class="section_delegaciones text-center d-flex flex-column align-content-center  ">
            <h1>Delegaciones</h1>
            <div class="d-flex flex-column">
                <div class="d-flex flex-row ">
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Buenos Aires</h5>
                            <button id="delegacion1" class="button_delegacion" @click="showModal(`delegacion1`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Catamarca</h5>
                            <button id="delegacion2" class="button_delegacion" @click="showModal(`delegacion2`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Chubut</h5>
                            <button id="delegacion3" class="button_delegacion" @click="showModal(`delegacion3`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>

                </div>
                <div class="d-flex flex-row ">
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cordoba</h5>
                            <button id="delegacion4" class="button_delegacion" @click="showModal(`delegacion4`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Corrientes</h5>
                            <button id="delegacion5" class="button_delegacion" @click="showModal(`delegacion5`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Entre Rios</h5>
                            <button id="delegacion6" class="button_delegacion" @click="showModal(`delegacion6`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>

                </div>
                <div class="d-flex flex-row ">
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Formosa</h5>
                            <button id="delegacion7" class="button_delegacion" @click="showModal(`delegacion7`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jujuy</h5>
                            <button id="delegacion8" class="button_delegacion" @click="showModal(`delegacion8`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">La Pampa</h5>
                            <button id="delegacion9" class="button_delegacion" @click="showModal(`delegacion9`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>

                </div>
                <div class="d-flex flex-row ">
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">La Rioja</h5>
                            <button id="delegacion10" class="button_delegacion" @click="showModal(`delegacion10`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mendoza</h5>
                            <button id="delegacion11" class="button_delegacion" @click="showModal(`delegacion11`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Misiones</h5>
                            <button id="delegacion12" class="button_delegacion" @click="showModal(`delegacion12`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>

                </div>
                <div class="d-flex flex-row ">
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rio Negro</h5>
                            <button id="delegacion13" class="button_delegacion" @click="showModal(`delegacion13`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Salta</h5>
                            <button id="delegacion14" class="button_delegacion" @click="showModal(`delegacion14`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">San Juan</h5>
                            <button id="delegacion15" class="button_delegacion" @click="showModal(`delegacion15`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row ">
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">San Luis</h5>
                            <button id="delegacion16" class="button_delegacion" @click="showModal(`delegacion16`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Santiago del Estero</h5>
                            <button id="delegacion17" class="button_delegacion" @click="showModal(`delegacion17`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tierra del Fuego</h5>
                            <button id="delegacion18" class="button_delegacion" @click="showModal(`delegacion18`)"
                                style="background-color: #38618C; color: white;">Información</button>
                        </div>
                    </div>

                </div>
                <div class="card" style="width: 18rem;">
                    <img src="./asserts/img/bsas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tucumán</h5>
                        <button id="delegacion19" class="button_delegacion" @click="showModal(`delegacion19`)"
                            style="background-color: #38618C; color: white;">Información</button>
                    </div>
                </div>
            </div>

            <!-- <modal class="modal-mask" v-if="mostrarmodal===true" @close="mostrarmodal=false">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header">
                            <h4 class="" slot="header">Información</h4>
                        </div>
                        <div class="modal-body ">
                            <div class="" slot="body">
                                <p>Direccion:{{Direccion}}</p>
                                <p>Telefono:{{Telefono}}</p>
                                <p>Cp: {{Cp}}</p>
                                <p>Email:{{Email}}</p>
                                <p>Encargado Delegación:{{EncargadoDelegacion}}</p>
                                <p>Ubicación:{{Ubicación}}</p>    
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="modal-default-button" @click="mostrarmodal=false"
                                slot="footer">Cerrar</button>
                        </div>
                    </div>
                </div>
            </modal> -->


        </section>
    </main>
    <footer>

    </footer>
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
          <div v-if="show" class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container">
                <div class="modal-header">
                  <slot name="header">
                    default header
                  </slot>
                </div>
                <div class="modal-body">
                  <slot name="body">
                    default body
                  </slot>
                </div>
  
                <div class="modal-footer">
                  <slot name="footer">
                    <button class="modal-default-button" @click="$emit('close')">
                       Cerrar
                    </button>
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </transition>
    </script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
    <script src="./main.js"></script>
</body>

</html>