<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obra Social</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    
    <header>

        <nav class="navbar navbar-expand-lg text-white  fixed fs-5 fw-bold" style="background-color: #73c8d3;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">OSPES</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body align-items-center">
                        <h1>
                            <img src="./asserts/img/Ospes.png" alt="" style="width: 100px;">
                        </h1>
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 ">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                    href="./delegaciones.html">Delegaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Plan Medico Asistencial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Sitios de interes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                            </li>
                        </ul>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <svg style="width:70px;height:70px" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M7.07,18.28C7.5,17.38 10.12,16.5 12,16.5C13.88,16.5 16.5,17.38 16.93,18.28C15.57,19.36 13.86,20 12,20C10.14,20 8.43,19.36 7.07,18.28M18.36,16.83C16.93,15.09 13.46,14.5 12,14.5C10.54,14.5 7.07,15.09 5.64,16.83C4.62,15.5 4,13.82 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,13.82 19.38,15.5 18.36,16.83M12,6C10.06,6 8.5,7.56 8.5,9.5C8.5,11.44 10.06,13 12,13C13.94,13 15.5,11.44 15.5,9.5C15.5,7.56 13.94,6 12,6M12,11A1.5,1.5 0 0,1 10.5,9.5A1.5,1.5 0 0,1 12,8A1.5,1.5 0 0,1 13.5,9.5A1.5,1.5 0 0,1 12,11Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </nav>

        <div class="d-flex flex-row align-items-center justify-content-between">
            <img class="imagencabecera" src="./asserts/img/doctoypaciente1.jpg" alt="logo">
            <div class="d-flex flex-column align-items-center justify-content-between">
                <h2>Obra Social para personal</h2>
                <ul class="nav_items">Estaciones de servicios - Garages</ul>
                <ul class="nav_items">Playas de estacionamientos</ul>
                <ul class="nav_items">Lavaderos automaticos - Gomerias</ul>
            </div>
            <img class="imagencabecera" src="./asserts/img/doctorypaciente2.jpg" alt="logo">
        </div>

    </header>

    <section class="modal_login">

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <section class="vh-100 d-block">
                        <div class="container-fluid h-custom">
                          <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-md-9 col-lg-6 col-xl-5">
                            </div>
                            <div>
                              <form th:action="@{/logincheck}" method="POST">
                                <h4 class="text-white">Ingreso</h4>
                                <p th:if="${error !=null}" class="error" th:text="${error}" style="color: red;"></p>
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                  <input type="text" name="username" class="form-control form-control-lg"
                                    placeholder="Ingrese su usuario" th:value="${username}" />
                                </div>
                                <div class="form-outline mb-3">
                                  <input type="password" name="password" class="form-control form-control-lg"
                                    placeholder="Contraseña" th:value="${password}"/>
                                </div>
                                <div class="d-flex justify-content-center">
                                <div class="text-center text-lg-start">
                                  <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Ingresar">Ingresar</button>
                                  <p class="d-flex justify-content-center text-primary"><a href="/usuario"
                                      class="link-danger text-primary">Registrarse</a></p>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </section>   


                </div> 
            </div>
        </div>
    </section>
    <!-- Podriamos crear aqui lo que veria el usuario que se logueo en la pagina
    como home con imagenes y link que lleven a la pagina de farmacia,producto,rubros, etc -->
    <section v-if="page='homeusuario'">

    </section>

    <footer>

    </footer>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>