*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.imagencabecera{
    width: 430px;
    height: auto;
}

.nav-items{
    font-weight: 700;
    
}

/*.nav-items a{
    font-size: 820px;
}*/

a.nav-link.active {
    font-size: xx-large;
    margin: 4px;
}

.tabla_farmacia{
    border: 1px solid black;
    text-align: center;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

.head_table_farmacia, .head_table_instmed{
    background-color: #73c8d3;
    font-weight: 700;    
}

.cabecerafarmacia img{
    width: 100%;
    height: 300px;
}

.cabecerafarmacia{
    position: relative;
    text-align: center;
}
.cabecerafarmacia h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.offcanvas-body{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-items: center; */
}
.offcanvas-body button{
    background: none;
    border: 0;
}
.offcanvas-body h1{
    color: black;
}

.modal-body-farmacia{
    margin: 15px;
    
}
.formfarmacianueva, .formproductonuevo{
    margin: 5px;
    
}

.div-form-farmacia, .div-form-producto, .div-form-instmedica{
    margin-bottom: 10px;
}
.div-form-farmacia input, .div-form-producto input, .div-form-instmedica input{
    height: auto;
    width: 100%;
}

.div-form-producto textarea{
    resize: none;
    height: 80px;
    width: 100%;
}


#carouselExampleDark{
    width: 100% !important;
    height: auto;
    
}

#carouselExampleDark img{
    width: 760px;
    height: 450px ;
}

.conteiner-form input{
    width: 400px !important;
}

.conteiner-form a{
    text-decoration: none;
}


