*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagencabecera{
    width: 430px;
    height: auto;
}

.nav_items{
    font-weight: 700;
}

.tabla_farmacia, .tabla_instmed{
    border: 1px solid black;
    text-align: center;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

.head_table_farmacia, .head_table_instmed{
    background-color: #73c8d3;
    font-weight: 700;    
}

.cabecerafarmacia img{
    width: 100%;
    height: 300px;
}

.cabecerafarmacia{
    position: relative;
    text-align: center;
}
.cabecerafarmacia h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.offcanvas-body button{
    background: none;
    border: 0;
}
.offcanvas-body h1{
    color: black;
}

.modal-body-farmacia{
    margin: 15px;
    
}
.formfarmacianueva, .formproductonuevo{
    margin: 5px;
    
}

.div-form-farmacia, .div-form-producto, .div-form-instmedica{
    margin-bottom: 10px;
}
.div-form-farmacia input, .div-form-producto input, .div-form-instmedica input{
    height: auto;
    width: 100%;
}

.div-form-producto textarea{
    resize: none;
    height: 80px;
    width: 100%;
}


/* .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 310px;
    height: 350px;
    margin: 0px auto;
    padding: 30px 30px;
    background: #38618C;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header{
    color: white;
  }
  .modal-header h6 {
    margin-top: 0;
    color: white;
  }
  
  .modal-body_login {
   color:white;
  }
  
  .modal-default-button {
    float: right;
    background-color: #38618C;
    color: white;
    border-radius: 15px;
  }
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
   */

.section_planmedico button{
  font-weight: 700;  
}




















