*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagenlogo{
    width: 150px;
    height: auto;
}

.nav_items{
    font-weight: 700;
}

.tabla_farmacia{
    border: 1px solid black;
    text-align: center;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

.head_table_farmacia{
    background-color: #00bed6;
    font-weight: 700;
    
}
